body {
	background: #555;
}
.content {
	max-width: 2000px;
	margin: auto;
	background: white;
	padding: 10px;
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
}
.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
