@import url('https://fonts.googleapis.com/css?family=Mansalva|Ubuntu+Mono&display=swap');

/* font-family: 'Mansalva', cursive;
 * font-family: 'Ubuntu Mono', monospace;
 */

/*
 * #906E3E (Khaki Brown)
 */

* {
	font-family: 'Unbutu Mono', monospace;
}

::selection {
	background-color: #C0C0C0;
}

body {
	background: #E8E8E9;
}

hr {
	color: #906E3E;
	border: none;
	height: 5px;
}

h1 {
	color: #906E3E;
	font-size: 64px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	padding: 1vw;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 42px;
	color: #333;
	text-transform: uppercase;
}
h3 {
	font-weight: 500;
	font-size: 30px;
	color: #333;
}
p {
	font-size: 15px;
	font-weight: 400;
	color: #888;
}


/* For Navigation Bar */
.nav {
	overflow: hidden;
	background-color: #333333;
}

.nav a {
	float: left;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 17px;
}

.nav a:hover {
	background-color: #DDDDDD;
	color: #000000;
}

.nav a.active {
	background-color: #906E3E;
	color: white;
}
