@import url('https://fonts.googleapis.com/css?family=Mansalva|Ubuntu+Mono&display=swap');

/* font-family: 'Mansalva', cursive;
 * font-family: 'Ubuntu Mono', monospace;
 */

/*
 * #906E3E (Khaki Brown)
 */

* {
	font-family: 'Unbutu Mono', monospace;
}

::selection {
	background: #C2AF95;
}

body {
	background: #E8E8E9;
}

hr {
	color: #906E3E;
	border: none;
	height: 5px;
}

h1 {
	color: #906E3E;
	font-size: 64px;
	font-weight: bold;
	margin-top: 0;
	text-transform: uppercase;
	padding: 1vw;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 42px;
	color: #333;
	text-transform: uppercase;
}
p {
	font-size: 15px;
	font-weight: 400;
	color: #888;
}
