<div id="header">
  <div id="hamburger-menu" (click)="visibleSideBar = true">
    <span id="hamburger-menu-icon" class="fas fa-bars"></span>
  </div>
  <div id="links">
    <a id="linkedInIcon" class="fab fa-linkedin-in" href="https://www.linkedin.com/in/tanner-bart" target="_blank"></a>
    <a id="gitHubIcon" class="fab fa-github" href="https://github.com/PlasticEmerald" target="_blank"></a>
  </div>
</div>
<div id="sub-header"></div>
<p-sidebar id="side-bar" [(visible)]="visibleSideBar"> Content </p-sidebar>
<router-outlet></router-outlet>
